<div class="block p-6 w-full bg-white rounded-lg border border-gray-200 shadow-sm">

  <%= form_with model: link do |form| %>
    <div class="flex flex-col gap-y-2">
      <%= form.label :title %>
      <%= form.text_field :title, class: "py-1 px-1 rounded-sm border border-[#bbb]" %>

      <%= form.label :href %>
      <%= form.text_field :href, class: "py-1 px-1 rounded-sm border border-[#bbb]" %>
    </div>

    <%= form.submit class: "p-2 mt-2 text-white bg-blue-600 rounded-lg cursor-pointer" %>
    <%= link_to "Cancel", request.referer || root_path, method: :get, class: "p-2 text-white bg-red-500 rounded-lg cursor-pointer text-lg" %>
  <% end %>
</div>

